/* Color palette: 
link: https://colorhunt.co/palette/990000ff5b00d4d925ffee63

#990000
#FF5B00
#D4D925
#FFEE63

*/

body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header {
    background-color: #990000;
    flex: 0 0 auto;
}

.top-bar {
    padding: 8px 32px;
    font-weight: 900;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.logo {
    flex: 2 1 auto;
}

.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.top-bar ul a {
    text-decoration: none;
    color: antiquewhite;
}

.top-bar ul a:hover {
    text-decoration: underline;
}

.header-content {
    background-color: #FF5B00;
    display: flex;
    justify-content: center;
}

.middle {
    background-color: #FFEE63;
    background-repeat: repeat-y;
    flex: 6 2 auto;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: #d3d92586;
    min-width: 200px;
    max-width: 200px;
    flex: 1 0 auto;
}

.background {
    width: 100%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    background-image: url(./images/body-background.jpeg);
    background-repeat: no-repeat repeat;
    background-position: 50%;
}

.content {
    background-color: hsla(90, 100%, 50%, 0.5);
    margin-left: 25%;
    margin-right: 25%;
    width: 75%;
    min-width: 500px;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: hsl(0, 54%, 33%);
    flex: 0 0 auto;
    text-align: center;
}