body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header {
    background-color: chocolate;
    flex: 0 0 auto;
}

.top-bar {
    padding: 8px 32px;
    font-weight: 900;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.logo {
    flex: 2 1 auto;
}

.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.top-bar ul a {
    text-decoration: none;
    color: antiquewhite;
}

.header-content {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.middle {
    background-color: lightgray;
    background-repeat: repeat-y;
    flex: 6 2 auto;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: blueviolet;
    min-width: 200px;
    max-width: 200px;
    flex: 1 0 auto;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/body-background.jpeg);
    background-repeat: no-repeat repeat;
    background-position: 50%;
}

.content {
    background-color: hsla(90, 100%, 50%, 0.5);
    margin-left: 25%;
    margin-right: 25%;
    width: 75%;
}

.footer {
    background-color: brown;
    flex: 0 0 auto;
    text-align: center;
}